:root {
  --modalColor: #275FAF;
  --blue: #275FAF;
}
.light-mode{
  --background: white;
  --gray1 : #ACACAC;
  --gray2: #E4E4E4;
}
body{
  background-color: var(--background);
}
.content{
  margin: 20px 70px 70px 70px;
}
.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.header button{
  padding: 5px 50px;
  border: 2px solid #275FAF;
  background-color: transparent;
  color: var(--blue);
  font-weight: 600;
}
.selection-lockers{
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}
.selection-classes{
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
}
.header-lockers .selection-lockers{
  background-color: #275FAF;
  color: white;
}
.header-classes .selection-classes{
  background-color: #275FAF;
  color: white;
}
.main{
  background-color: white;
  padding: 25px 40px;
  border-radius: 20px;
  border: 2px solid var(--gray1);
}
.lockers-header, .turmas-header{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.btn-create{
  border: none;
  border-radius: 35px;
  padding: 5px 15px;
  background-color: var(--gray2);
  margin-left: 30px;
  display: flex;
  gap: 25px;
  height: fit-content;
  font-weight: 600;
}
.btn-create i{
  -webkit-text-stroke: 1px
}
.meu-modal{
  background-color: white;
  background-color: rgba(0, 0, 0, 0.541);
}
.meu-modal .modal-content{
  padding: 10px;
}
.modal-irregular{
  --modalColor: #BD0F12;
}
.modal-livre{
  --modalColor: #439C43;
}
.text-bold{
  color: var(--modalColor);
  font-weight: 500;
}
.btn-main{
  background-color: var(--modalColor);
  border: 1px solid white;
  color: white;
  padding: 6px 16px;
  border-radius: 5px;
}
.btn-main:hover{
  background-color: transparent;
  border: 1px solid var(--modalColor);
  color: var(--modalColor);
}
.estado{
  color: var(--modalColor);
  border: 1px solid var(--modalColor);
  padding: 6px 16px;
  border-radius: 35px;
  margin: 0;
}
.armario-header {
    display: flex; /* Ativa o Flexbox */
    align-items: center; /* Centraliza verticalmente os itens */
    gap: 10px; /* Adiciona um espaçamento fixo entre os itens */
}

/* SISTEMA DE TURMAS */

.turma{
  border: 1px solid black;
  border-radius: 12px;
  padding: 25px;
  cursor: pointer;
}
.turmas{
  display: flex;
  gap: 20px;
}