:root {
  --modalColor: #275FAF;
  --blue: #275FAF;
  --red: #BD0F12;
  --green: #439C43;
}
.light-mode{
  --background: white;
  --gray1: #ACACAC;
  --gray2: #E4E4E4;
  --text: black;
}
.dark-mode{
  --background: #191919;
  --gray1: #4E4E4E;
  --gray2: #333333;
  --text: white;
}
body{
  background-color: var(--background) !important;
}
.content{
  margin: 20px 70px 70px 70px;
}
.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.header button{
  padding: 5px 50px;
  border: 2px solid #275FAF;
  background-color: transparent;
  color: var(--blue);
  font-weight: 600;
}
.selection-lockers{
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}
.selection-classes{
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
}
.header-lockers .selection-lockers{
  background-color: #275FAF;
  color: white;
}
.header-classes .selection-classes{
  background-color: #275FAF;
  color: white;
}
.main{
  padding: 25px 40px;
  border-radius: 20px;
  border: 2px solid var(--gray1);
}
.lockers-header, .turmas-header{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  width: fit-content;
}
.btn-create{
  border: none;
  border-radius: 35px;
  padding: 5px 15px;
  background-color: var(--gray2);
  margin-left: 30px;
  display: flex;
  gap: 25px;
  height: fit-content;
  font-weight: 600;
  color: var(--text);
}
.btn-create i{
  -webkit-text-stroke: 1px
}
.my-modal{
  background-color: rgba(0, 0, 0, 0.623);
}
.my-modal .modal-content{
  padding: 15px 25px;
  border-radius: 30px;
  border: none;
  background-color: var(--background);
}
.my-modal .modal-body{
  max-height: 300px;
  overflow-y: auto;
}
.my-modal .modal-content input, .my-modal .modal-content select{
  background-color: transparent;
}
.my-modal .modal-header{
  display: block;
}
.modal-irregular{
  --modalColor: var(--red);
}
.modal-free{
  --modalColor: var(--green);
}
.text-bold{
  color: var(--modalColor);
  font-weight: 500;
}
.btn-main{
  background-color: var(--modalColor);
  border: 1px solid white;
  color: white;
  padding: 6px 16px;
  border-radius: 5px;
}
.btn-main:hover{
  background-color: transparent;
  border: 1px solid var(--modalColor);
  color: var(--modalColor);
}
.estado{
  color: var(--modalColor);
  border: 1px solid var(--modalColor);
  padding: 6px 16px;
  border-radius: 35px;
  margin: 0;
}
.locker-header {
    display: flex;
    align-items: center;
}
.locker-header .modal-title{
  color: var(--modalColor);
}
.locker-info{
  display: flex;
  gap: 10px;
}
.locker-modal-section{
  gap: 30px;
}
.locker-modal-section h6:hover{
  cursor: pointer;
}
.locker-section-selected{
  color: var(--modalColor);
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--modalColor);
  transform: translateY(4px);
}

/* SISTEMA DE TURMAS */

.turma{
  border: 1px solid black;
  border-radius: 12px;
  padding: 25px;
  cursor: pointer;
}
.turmas{
  display: flex;
  gap: 20px;
}