.lockers{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.locker{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}
.locker-free{
    border: 2px solid #439C43;
    color: #439C43;
}
.locker-occupied{
    background-color:  #275FAF;
    color: white;
}
.locker-irregular{
    background-color:  #BD0F12;
    color: white;
}
.lockers-select{
    width: 200px;
    padding: 6px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background-color: transparent;
    color: var(--main)
}

@media (max-width: 768px) {
    .locker{
        width: 65px;
        height: 65px;
        font-size: 1.2rem;
    }
    .lockers{
        justify-content: center;
    }
}